<div class="col-md-12">
  <mat-label class="dia_label">
    <p>Are you sure want to delete the record?</p>
  </mat-label>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button" color="primary" (click)="yesClick()"
              style="width:30%; margin-right: 19%;margin-left: 9%">
      Yes
      </button>
      <button class="btn btn-secondary" color="primary" (click)="noClick()"
              style="width:30%;">
      No
      </button>
    </div>
  </div>
</div>
