table {
  width: 100%;
}

.mainDiv{
    padding-left:1%;
    padding-right:1%;
}
.full-width{
    width:40%;
}

.heading-padding {
  padding-bottom: 1%;
  padding-top: 2%;
}

.form-horizontal{
    padding-left:1% !important;
}
.contactTbl{
    height:75vh;
    overflow:scroll;
}
